#tracking-protection-study-button {
  cursor: pointer;
  font-size: .8em;
  border-radius: 5px;
}

#tracking-protection-study-button > .toolbarbutton-text {
  display: flex;
  color: white;
  margin-right: 5px !important;
}

#tracking-protection-study-button > image {
  height: 14px;
  width: 14px;
  margin: 1px 3px 1px 5px;
}

/* Reference: firefox.design.com */

#tracking-protection-study-intro-panel {
  width: 300px;
  font-size: 100%;
  font-family: sans-serif;
  text-align: center;
}

#tracking-protection-messaging-study-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -25px;
  margin-bottom: 30px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: lighter;
  line-height: 1.25;
}

#tracking-protection-messaging-study-message::before {
  content: "";
  display: inline-block;
  background: url('data:image/svg+xml,<svg viewBox="0 0 26 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><path d="M25.8017891,12.976 C25.2558014,18.757 24.1369008,21.621 21.6074075,24.935 C18.1709265,29.437 13.0002493,29.9985 13.0002493,29.9985 C13.0002493,29.9985 7.82907346,29.437 4.39259251,24.935 C1.86309921,21.621 0.744198561,18.757 0.198210947,12.976 C0.0107302681,10.99 -0.00572415315,6.4745 0.00125651042,3.9455 C0.00424822338,2.9 0.768630884,2.018 1.81024561,1.846 L13.0002493,0 L24.1897544,1.846 C25.2313691,2.018 25.9957518,2.9 25.9987435,3.9455 C26.0057242,6.4745 25.9892697,10.99 25.8017891,12.976 L25.8017891,12.976 Z M23.9928,3.928 C23.9928,3.8635 23.9374533,3.8095 23.8591701,3.796 L13.0002493,2.0005 L2.14132851,3.796 C2.06304536,3.809 2.00769867,3.8635 2.00769867,3.928 C1.99573182,8.1615 2.06404259,11.3885 2.19567796,12.781 C2.7421642,18.58 3.85358556,20.9335 5.9866769,23.735 C8.45733318,26.979 12.0708238,27.826 13.0017452,27.9955 C13.9187052,27.829 17.5391765,26.984 20.0138217,23.735 C22.1469131,20.9335 23.2583344,18.58 23.8053193,12.781 C23.936456,11.386 24.0047668,8.159 23.9928,3.928 L23.9928,3.928 Z M7.34990077,21.9175 C5.29110364,19.2125 4.55264916,17.599 4.02560906,12.001 C3.9049433,10.718 4.02311596,9.344 4.02560906,5.501 L13.0007479,4.001 L13.0007479,26.001 C11.88085,25.7695 9.45506946,24.684 7.34990077,21.9175 L7.34990077,21.9175 Z" fill="%23737373"></path></g></svg>') no-repeat center;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

#tracking-protection-messaging-study-message {
  color: #737373;
}

.tracking-protection-messaging-study-message-quantity {
  color: #058b00;
  font-size: 16px;
  font-weight: 400;
}
